/* HEADER */
.header-section h1 {
  color: var(--rick);
}
.header-section h1 span {
  color: var(--morty);
}
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 90vw;
  margin: 0 auto;
}
@media only screen and (min-width: 1021px) {
  .header-section {
    gap: 30px;
  }
}
@media only screen and (max-width: 1022px) {
  .header-section {
    gap: 30px;
  }
}
@media only screen and (max-width: 770px) {
  .header-section {
    gap: 20px;
  }
}
@media only screen and (max-width: 482px) {
  .header-section {
    gap: 10px;
  }
}

.search-input {
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 1021px) {
  .search-input {
    font-size: 1.2rem;
    border-radius: 15px;
    width: 60%;
    padding: 0.25rem;
  }
}
@media only screen and (max-width: 1022px) {
  .search-input {
    font-size: 1.2rem;
    border-radius: 15px;
    width: 60%;
    padding: 0.25rem;
  }
}
@media only screen and (max-width: 770px) {
  .search-input {
    font-size: 0.9rem;
    border-radius: 12px;
    width: 60%;
    padding: 0.2rem;
  }
}
@media only screen and (max-width: 482px) {
  .search-input {
    font-size: 0.8rem;
    border-radius: 8px;
    width: 70%;
    padding: 0.1rem;
  }
}

/* BODY */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
@media only screen and (min-width: 1021px) {
  .cards {
    width: 90%;
  }
}
@media only screen and (min-width: 482px) {
  .cards {
    width: 96%;
  }
}
.card {
  background-color: var(--white);
  border-radius: 12px;
}
.card:hover {
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.8;
}
.card:not(:hover) {
  transition: all 0.3s;
}
@media only screen and (min-width: 1021px) {
  .card:hover {
    transform: translateY(-20px);
  }
  .card {
    width: 220px;
  }
}
@media only screen and (max-width: 1022px) {
  .card:hover {
    transform: translateY(-20px);
  }
  .card {
    width: 220px;
  }
}
@media only screen and (max-width: 770px) {
  .card:hover {
    transform: translateY(-20px);
  }
  .card {
    width: 180px;
  }
}
@media only screen and (max-width: 482px) {
  .card:hover {
    transform: translateY(-10px);
  }
  .card {
    width: 150px;
  }
}

.card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  border-radius: 12px 12px 0 0;
}

.card-top {
  position: relative;
}
@media only screen and (min-width: 1021px) {
  .card-top {
    height: 260px;

    padding: 10px 10px 0 10px;
  }
}
@media only screen and (max-width: 1022px) {
  .card-top {
    height: 260px;

    padding: 10px 10px 0 10px;
  }
}
@media only screen and (max-width: 770px) {
  .card-top {
    height: 190px;

    padding: 10px 10px 0 10px;
  }
}
@media only screen and (max-width: 482px) {
  .card-top {
    height: 150px;

    padding: 10px 10px 0 10px;
  }
}
.card-status {
  position: absolute;
  border-radius: 12px;
}
.card-status.alive {
  background-color: var(--alive);
}
.card-status.dead {
  background-color: var(--dead);
  color: var(--white);
}
.card-status.unknown {
  background-color: var(--unknown);
  color: var(--white);
}
@media only screen and (min-width: 1021px) {
  .card-status {
    top: 15px;
    right: 20px;

    padding: 5px;
  }
}
@media only screen and (max-width: 1022px) {
  .card-status {
    top: 15px;
    right: 20px;

    padding: 5px;
  }
}
@media only screen and (max-width: 770px) {
  .card-status {
    top: 15px;
    right: 15px;

    padding: 5px;
  }
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}
@media only screen and (min-width: 1021px) {
  .card-info {
    width: 100%;
    height: 130px;
  }
}
@media only screen and (max-width: 1022px) {
  .card-info {
    width: 100%;
    height: 130px;
  }
}
@media only screen and (max-width: 770px) {
  .card-info {
    width: 100%;
    height: 100px;
  }
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}
@media only screen and (min-width: 1021px) {
  .buttons {
    gap: 10px;
  }
}
@media only screen and (max-width: 1022px) {
  .buttons {
    gap: 10px;
  }
}
