<section class="font-funny">
  <header>
    <h1>RICK AND MORTY <span>WIKI</span></h1>
  </header>
  <div class="search">
    <input type="text" placeholder="Search character" />
  </div>
</section>

<section class="font-funny">
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <div class="card-status">Status</div>
      </div>
      <div class="card-info">
        <h2>Name</h2>
        <h3></h3>
        <h2>Last Seen Place</h2>
        <h3></h3>
      </div>
    </div>
  </div>
</section>
