<section class="font-funny header-section">
  <header>
    <h1>RICK AND MORTY <span>WIKI</span></h1>
  </header>
  <input
    #searchInput
    type="text"
    class="font-funny search-input"
    placeholder="Search character"
    (input)="getByCharacterName(searchInput.value)"
  />
</section>

<section class="font-funny">
  <div class="cards">
    <div class="card" *ngFor="let item of data.results">
      <div class="card-top">
        <div
          class="card-image"
          style="background-image: url({{ item.image }})"
        ></div>
        <div class="card-status" [ngClass]="item.status | lowercase">
          <h4>{{ item.status | lowercase }}</h4>
        </div>
      </div>
      <div class="card-info">
        <h3>Name</h3>
        <h2>{{ item.name }}</h2>
        <h3>Last Seen in</h3>
        <h2>{{ item.origin.name }}</h2>
      </div>
    </div>
  </div>
</section>
