<section class="font-funny header-section">
  <header>
    <h1>RICK AND MORTY <span>WIKI</span></h1>
  </header>
  <input
    type="text"
    class="font-funny search-input"
    placeholder="Search character"
  />
</section>

<!-- <section class="font-funny">
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <div class="card-status">
          <h4>status</h4>
        </div>
      </div>
      <div class="card-info">
        <h3>Name</h3>
        <h2>Character Name</h2>
        <h3>Last Seen Place</h3>
        <h2>Earth C-172</h2>
      </div>
    </div>
  </div>
</section> -->
