* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}
:root {
  --white: #fff;
  --grey: #e1e1e1;
  --alive: #49f69c;
  --dead: #ff2f2f;
  --unknown: #636363;
}
html {
  font-size: 16px;
}
.font-funny {
  font-family: "Montserrat Alternates", sans-serif;
}
section {
  padding: 1.5rem 0;
}

h2 {
  font-weight: 500;
}
h3 {
  font-weight: 300;
}
@media only screen and (min-width: 1021px) {
  h1 {
    font-size: 4.7rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1022px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 770px) {
  h1 {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 482px) {
  h1 {
    font-size: 2.3rem;
  }
}
